.tableshadow{ box-shadow:10px 10px 5px #999; padding-top:40px; border:solid 1px hsl(187, 89%, 89%)}
.lefttxt{ padding-left:30px;  font-size:16px; color:#8ca1a4}
.toptd{ color:white; font-size:24px; text-align:center; height:40px; background-color:#a4cece}
